<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maidanfanli.yunshujinfu" version="1.0.0">
    <name>买单返</name>
    <description>
       一款用于线下支付的APP
    </description>
    <author email="924985774@qq.com" href="http://www.maidanfanli.com/">
        买单返技术部
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.2.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
